services:
  - type: web
    name: biblio-backend
    env: python
    buildCommand: pip install -r backend/requirements.txt
    startCommand: bash -lc "export PYTHONPATH=/opt/render/project/src && cd backend && alembic upgrade head && uvicorn backend.main:app --host 0.0.0.0 --port 10000"
    envVars:
      - key: DATABASE_URL
        sync: false
      - key: JWT_SECRET_KEY
        sync: false
      - key: FRONTEND_ORIGIN
        value: https://bibliotheque-2u2m.onrender.com

  - type: web
    name: biblio-frontend
    env: static
    buildCommand: bash -lc "cd frontend && npm ci && npm run build"
    staticPublishPath: frontend/dist
    routes:
      - type: rewrite
        source: /*
        destination: /index.html
    envVars:
      - key: VITE_API_URL
        value: https://biblio-h6ji.onrender.com
